{
  "extends": [
    "@orbitdb/eslint-config-orbitdb",
    "plugin:react/recommended",
    "plugin:compat/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-var": "warn"
  }
}
