{
  "parser": "babel-eslint",
  "extends": [
    "@orbitdb/eslint-config-orbitdb",
    "plugin:react/recommended",
    "plugin:compat/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "ipcRenderer": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-var": "warn",
    "prefer-const": "error"
  },
  "settings": {
    "polyfills": ["promises", "promise-finally"],
    "react": {
      "version": "16.5"
    }
  }
}
