@import 'Colors';

$channel-name-max-height: 5vmin;
$channel-name-min-height: 1.6em;

.Header {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  border-bottom: 1px solid $bar-border-color;
  background-color: $bar-background-color;

  .notificationsIcon {
    position: absolute;
    font-size: 0.8em;
    top: 1.1em;
    right: 1.1em;
    padding-top: -0.2em;
  }
}

.Header:hover {
  background-color: $bar-background-hover-color;
}

.ChannelName {
  display: flex;
  box-sizing: border-box;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;

  max-height: $channel-name-max-height;
  min-height: $channel-name-min-height;

  font-weight: bold;
  font-size: 2em;
  color: rgb(160, 160, 160);

  padding-left: 0.2em;
  padding-right: 0.6em;

  .currentChannel {
    display: flex;
    flex: 1 0 33%;
    justify-content: flex-start;

    font-size: 1em;
    color: rgb(240, 240, 240);
  }

  .channel {
    display: flex;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 0.5em;
  }

  .channel:hover {
    color: rgb(240, 240, 240);
  }

  .unreadMessages {
    font-weight: bold;
    font-size: 0.6em;

    color: rgba(240, 240, 240, 0.9);
    background-color: rgba(240, 240, 240, 0.1);
    border-radius: 32px;

    display: flex;
    justify-content: center;

    height: 1.1em;
    width: 1.2em;

    margin-left: 0.3em;
    margin-right: 0em;
    padding: 0.1em;
  }

  .hasMentions {
    background-color: $main-color;
  }
}

.channelHeaderAnimation-enter {
  $duration: 0.3s;
  $animation-name: slideFromLeft;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.channelHeaderAnimation-leave {
  $duration: 0.3s;
  $animation-name: fadeOutRight;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
