@import 'Fonts';

html, body {
  font-family: "Lato";
  font-weight: normal;
  background: #222222;
}

h1 {
  color: rgb(228, 228, 228);
  font-weight: normal;
  margin: auto;
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
}
